@model IEnumerable<ATM.Models.SubscriptionModel>

@{
    ViewBag.Title = "Index";
}

<h2>List of Subscribers</h2>

<p>
    @Html.ActionLink("Create New Subscriber", "Create", new { checkingAccountId = ViewBag.CheckingAccountId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckingAccount.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateSubscribed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CheckingAccount.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateSubscribed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { checkingAccountId =item.CheckingAccountId}) |
            @Html.ActionLink("Details", "Details") |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
